*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/
src/androidTest/
src/main/ic_launcher-web.png
src/main/play_image-web.png
src/main/res/drawable-hdpi/
src/main/res/drawable-mdpi/
src/main/res/drawable-v21/
src/main/res/drawable-xhdpi/
src/main/res/drawable-xxhdpi/
src/main/res/drawable-xxxhdpi/
src/main/res/drawable/
src/main/res/mipmap-hdpi/
src/main/res/mipmap-mdpi/
src/main/res/mipmap-xhdpi/
src/main/res/mipmap-xxhdpi/
src/main/res/mipmap-xxxhdpi/
src/test/
/app/src/androidTest/
app/src/main/res/drawable-hdpi/
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-v21/
app/src/main/res/drawable-xhdpi/
app/src/main/res/drawable-xxhdpi/
app/src/main/res/drawable-xxxhdpi/
/app-release/
/.idea/
/projectFilesBackup/
/gradle/
/build/
